.hero-section{
    background: linear-gradient(135deg, #6366f1 0%, #a855f7 100%);
    padding: 120px;
    min-height: auto;
}
.small-img{
    width: 60%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.features-icon{
    width: 64px;
    height: 64px;
    background: #6366f1;
    color: white;
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
    
}
.card{
    border: none;
    transition: transform 0.3s ease;

}
.card:hover {
    transform: translateY(-8px);
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
}
.features-icon:hover{
    background-color: #4245ff;
    transform: translateX(38px);
    color: rgb(143, 141, 141);
}
.pricing-card:hover{
     border: 1px solid rgb(69, 45, 255);
}
.profile-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    padding: 8px;
    
}
.form-control{
    border: 1px solid rgb(163, 161, 161);
    transition: transform 0.5s ease;
}
.form-control:hover{
   border: 3px solid rgb(143, 69, 69);
}
.social-links a{
    text-decoration: none;
}